<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html manifest="cache.manifest">
    <head>
        <title>Html5 Image Offline</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/jquery.flex-images.css"> 
        <link rel="stylesheet" href="css/jquery.fancybox.css"> 
        <link rel="stylesheet" href="css/jquery-mobile/jquery.mobile-1.4.5.min.css"> 
        <link rel="stylesheet" href="css/jquery-mobile/jquery.mobile.external-png-1.4.5.min.css"> 
        <link rel="stylesheet" href="css/jquery-mobile/jquery.mobile.icons-1.4.5.min.css"> 
        <link rel="stylesheet" href="css/jquery-mobile/jquery.mobile.inline-png-1.4.5.min.css"> 
        <link rel="stylesheet" href="css/jquery-mobile/jquery.mobile.inline-svg-1.4.5.min.css"> 
        <link rel="stylesheet" href="css/jquery-mobile/jquery.mobile.structure-1.4.5.min.css"> 
        <link rel="stylesheet" href="css/jquery-mobile/jquery.mobile.theme-1.4.5.min.css"> 
        <link rel="stylesheet" href="css/style.css"> 
    </head>
    <body>
        <div id="main-app" class="fcbtn" data-role="page">  
            <div data-role="header" id="app-header">
                <h1 id="title"></h1>
                <a href="#download" data-icon="recycle" class="ui-btn-right">Download</a>
            </div>
            <div role="main" class="ui-content" id="page-content"></div>
        </div>
        
        <script type="text/template" id="top">
            <div id="gallery" class="flex-images">
                <% if(images.length==0){ %>
                    <h2 style="text-align:center">Let's download images</h2>
                <% }else{ %>
                    <% _.each(images, function(image){ %>
                            <div class="item" data-w="200" data-h="200">
                                <a class="grouped_elements" rel="image-group" href="">
                                    <img id="img-<%= image.get('id') %>" height="150" />
                                </a>
                            </div>
                    <% }); 
                }%>
            </div>
        </script>
        
        <script type="text/template" id="downloading">            
            <div id="download-page">
                <div class="loader">Loading...</div>
            </div>
        </script>
        
        <script src="js/lib/jquery-1.11.3.min.js"></script>
        <script type="text/javascript">
           $( document ).on( "mobileinit",
    
                // Set up the "mobileinit" handler before requiring jQuery Mobile's module
                function () {
                    // Prevents all anchor click handling including the addition of active button state and alternate link bluring.
                    $.mobile.linkBindingEnabled = false;

                    // Disabling this will prevent jQuery Mobile from handling hash changes
                    $.mobile.hashListeningEnabled = false;

                    $.mobile.ajaxEnabled = false;
                    $.mobile.pushStateEnabled = false;
                }
            );
        </script>
        <script src="js/lib/jquery.fancybox.js"></script>
        <script src="js/lib/jquery.mobile-1.4.5.min.js"></script>
        <script src="js/lib/jquery.flex-images.min.js"></script>
        <script src="js/lib/underscore-min.js"></script>
        <script src="js/lib/backbone-min.js"></script>
        <script src="js/lib/backbone-indexeddb.js"></script>
        
        <script src="js/app/model/BaseLocalModel.js"></script>
        <script src="js/app/model/ImageModel.js"></script>
        <script src="js/app/model/ImageDataModel.js"></script>
        <script src="js/app/collection/BaseLocalCollection.js"></script>
        <script src="js/app/collection/ImageCollection.js"></script>
        <script src="js/app/collection/ImageDataCollection.js"></script>
        <script src="js/app/view/BaseView.js"></script>
        <script src="js/app/view/TopView.js"></script>
        <script src="js/app/view/DownloadView.js"></script>
        <script src="js/app/router.js"></script>
        <script src="js/app/service.js"></script>
        <script src="js/app/util.js"></script>
        <script src="js/app/main.js"></script>        
    </body>
</html>
